/******************
* GENERAL STYLING *
*******************/


/*PAGE*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    transition: background 1s linear;
}


/*LOADING OVERLAY*/

#loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background: rgb(66, 70, 77);
    text-align: center;
}

#loading-overlay span {
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: white;
    border-radius: 50px;
    margin-top: 50vh;
}

.dots {
    animation: loader 0.9s infinite alternate;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
    -o-animation: loader 0.9s infinite alternate;
}

.dots-fadeout {
    animation: fadeOut 0.7s forwards, loader 0.9s infinite alternate;
    -moz-animation: fadeOut 0.7s forwards, loader 0.9s infinite alternate;
    -webkit-animation: fadeOut 0.7s forwards, loader 0.9s infinite alternate;
    -o-animation: fadeOut 0.7s forwards, loader 0.9s infinite alternate;
}

#loading-overlay span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

#loading-overlay span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}

@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}

.fadeout {
    animation: fadeOut 2s forwards;
    -moz-animation: fadeOut 2s forwards;
    -webkit-animation: fadeOut 2s forwards;
    -o-animation: fadeOut 2s forwards;
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/*LINKS*/

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:link.underlined-link {
    font-weight: bold;
    display: inline-block;
    line-height: 0.3em;
    white-space: pre;
    color: inherit;
}

a:visited.underlined-link.blue,
a:link.underlined-link.blue {
    border-bottom: 0.5em solid rgb(0, 97, 232);
}

a:link.underlined-link.teal,
a:visited.underlined-link.teal {
    border-bottom: 0.5em solid rgb(0, 206, 177);
}

a:visited.underlined-link.teal {
    color: inherit;
    border-bottom-color: rgb(0, 206, 177);
}


/*CENTERED CONTAINER*/

#center-container {
    width: 800px;
    margin: auto;
    padding-top: 60px;
    max-width: 100%;
}


/*NAVBAR*/

#date-and-time {
    justify-content: flex-end;
    display: flex;
    flex-flow: row;
    width: 100%;
}

nav {
    background: white;
}

nav>a {
    display: inline-block;
    flex: 1;
    padding: 2px 10px;
    font-weight: 700;
}


/*CONTENTS*/

#contents {
    display: flex;
    flex-flow: row;
    width: 100%;
}

#contents-top-pad {
    height: 40px;
}


/*BOTTOM SPACER*/

#bottom-spacer {
    height: 0px;
}


/*********************
* INDEX.HTML STYLING *
**********************/


/*FRONT PAGE OVERLAY*/

#overlay {
    z-index: -1;
    background: rgba(66, 70, 77, 1);
    opacity: 0.48;
    position: fixed;
    float: left;
    vertical-align: top;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}


/*BIG LOGO*/

#big-logo {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    flex: 1;
    height: 169.23px;
}

#big-logo>#underline {
    display: inline;
    background: rgb(0, 97, 232);
    position: absolute;
    width: 320px;
    height: 25px;
    margin-top: 118px;
    z-index: 9;
}

#big-logo>img {
    position: absolute;
    width: 300px;
    z-index: 10;
    -webkit-filter: drop-shadow( 0px 3px 2px black);
    filter: drop-shadow( 0px 2px 0px black);
}

#front-text {
    flex: 1;
    margin-top: 150px;
}

#front-text>p {
    margin-left: 95.2px;
    margin-right: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1em;
    color: white;
    text-align: left;
    font-size: 0.8em;
    line-height: 23px;
    text-shadow: 0px 0px 5px black;
}

#front-text>p.title>span {
    font-size: 2.2em;
}

#front-text>p>span.drop-cap {
    font-size: 1.3em;
    font-weight: 538.45;
}


/*SOCIAL*/

.social {
    margin-left: 95.2px;
    display: flex;
    flex-flow: row;
}

.social .glyph {
    border-radius: 20px;
    font-size: 1.4em;
    margin: 0px 10px 10px 0px;
    width: 35px;
    height: 35px;
    display: table;
    text-align: center;
}

.social .glyph>i {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.glyph.facebook {
    background: #304f85;
}

.glyph.twitter {
    background: #15a7ff;
}

.glyph.instagram {
    background: #78c4ff;
}


/*******************************
* RESPONSIVE STYLING - GENERAL *
********************************/


/*SHORT WINDOW LAYOUT*/

@media (max-height: 596px) {
    #bottom-spacer {
        height: 60px;
    }
}


/*NARROW DESKTOP LAYOUT*/

@media (max-width: 900px) {
    #contents {
        flex-flow: column;
    }
    #center-container {
        width: 538.45px;
    }
    #date-and-time {
        justify-content: center;
    }
}


/*MOBILE LAYOUT*/

@media (max-height: 360px) {
    #center-container {
        padding-top: 5vw;
    }
}

@media (max-width: 610px) {
    body {
        font-size: 3.5vw;
    }
    #center-container {
        width: 100vw;
        padding-top: 0px;
    }
    #contents-top-pad {
        height: 8vw;
    }
    #date-and-time {
        background: white;
    }
    nav>a {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: 1.4em;
    }
    nav>a.mini-logo-nav {
        width: 7vw;
    }
    nav>a.mini-logo-nav>img {
        height: 3.5em;
        transform: translate(0, -1em);
    }
    #bottom-spacer {
        height: 20vw;
    }
}


/**********************************
* RESPONSIVE STYLING - INDEX.HTML *
***********************************/

@media (max-width: 900px) {
    #front-text>p {
        margin: 0px;
        text-align: justify;
    }
    #big-logo {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    #big-logo>img {
        position: relative;
    }
    #front-text {
        margin-top: 0px;
    }
    .social {
        margin: 0;
        justify-content: center;
    }
}

@media (max-width: 610px) {
    #big-logo {
        height: 39.48vw;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }
    #big-logo>img {
        width: 70vw;
    }
    #big-logo>#underline {
        width: 74vw;
        height: 6vw;
        margin-top: 27.5vw;
    }
    #front-text>p {
        font-size: 1.2em;
        line-height: 1.6em;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .social .glyph {
        width: 14vw;
        height: 14vw;
        border-radius: 30vw;
        margin: 0px 4vw 4vw 0px;
    }
    .social .glyph>i {
        font-size: 2em;
    }
}


/********************************
* RESPONSIVE STYLING - IE SUCKS *
*********************************/

@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #big-logo>#underline {
        position: absolute;
    }
    #big-logo {
        display: block;
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
    }
    #big-logo>img {
        position: absolute;
        margin: auto;
    }
    #contents {
        display: inline;
    }
    #date-and-time {
        justify-content: center;
    }
    #front-text {
        margin-top: 40px;
    }
    .social {
        margin: 0;
        justify-content: center;
    }
    #loading-overlay span:first-child {
        background: transparent;
        width: 100vw;
    }
    #loading-overlay span:first-child:after {
        color: white;
        content: 'LOADING';
        letter-spacing: 1em;
        font-size: 1.7em;
    }
    #loading-overlay span:not(:first-child) {
        display: none;
    }
}

@media(max-width: 610px) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #big-logo {
        width: 70vw;
        margin-top: 8vw;
    }
    #front-text {
        margin-top: 8vw;
    }
}